

<div class="carddetail">
        <a href="/cards/{{id}}">
        <a href="/profile" class="close">&times;</a>
        <h3>{{event_name}}</h3></a>
        <h6>Posted by {{user.username}} at {{event_time}}</h6>
        <p>{{event_description}}</p>
        {{#if image_path}}
        <img id="cardImg" src={{image_path}} alt="image description">
        {{/if}}
        {{#ifCond currUser user_id}}
            <button class="cardDelBtn" data-id={{../id}}>Delete</button>
        {{/ifCond}}
        <h6 id="date">{{event_date}}</h6>
        <p style="color:lightgrey; border-bottom: 1px dotted lightgrey; padding-bottom:0">comments</p>
            <div id="commentContainer">
            {{#each comments}}
            <div id="commentBlock">
                <p class="username">{{user.username}}</p>
                <p id="comCont" data-id={{id}}>{{content}}</p>
            {{#ifCond ../currUser user_id}}
                <button class="commentDelBtn" data-id={{../id}}>Delete</button>
                <button class="editComBtn" data-id={{../id}}>Edit</button>
            {{/ifCond}}
            </div>
            {{/each}}
            </div>
            <div id="editCommentBlock">
                <textarea id="editComment" data-id={{id}}></textarea>
                <button class="editComBtnCommit" data-id={{id}}>Commit</button>
            </div>
        <form id="newCommentForm">
        <textarea id="newComment" placeholder="Add a Comment" data-id={{id}}></textarea>
        <button><span class="material-icons">send</span></button>

        </form>
</div>
