
<div class="card">
    <div class="card-header">
        <a class="cardtest" href="/cards/{{id}}"><h3>{{event_name}}</h3></a>
    </div>
    <div class="card-body">
        <img src="" alt="">
        <p>{{event_city}}, {{event_state}}</p>
        <p>{{event_description}}</p>
        <h6 id="date">{{event_date}}</h6>
        <h6 id="time">{{event_time}}</h6>
    </div>
</div>

{{!-- <button class="cardDelBtn" data-id={{card.id}}>Delete</button> --}}
