

<div class="card">
    <a href="/cards/{{id}}"><h3>{{event_name}}</h3>
    <p>{{event_city}}, {{event_state}}</p>
    <p>{{event_description}}</p>
    <h6 id="date">{{event_date}}</h6>
    <h6 id="time">{{event_time}}</h6>
    </a>
</div>

{{!-- find way to make all new cards show --}}

