

<div class="card">
    <a href="/cards/{{dataValues.id}}"><h3>{{dataValues.event_name}}</h3>
    <p>{{dataValues.event_city}}, {{dataValues.event_state}}</p>
    <p>{{dataValues.event_description}}</p>
    <h6 id="date">{{dataValues.event_date}}</h6>
    <h6 id="time">{{dataValues.event_time}}</h6>
    </a>
</div>
