
<div class="card">
    <a href="/cards/{{id}}">
    <div class="card-header">
        <h3>{{event_name}}</h3>
    </div>
    <div class="card-body">
        <p>{{event_city}}, {{event_state}}</p>
        <p>{{event_description}}</p>

    </div>
    </a>
    <div id='fade'></div>
    <div id='info'>

        <h6 id="time">posted at: {{event_time}} </h6>
    </div>
</div>