
<div class="card">
    <a href="/cards/{{id}}">
    <div class="card-header">
        <div>
        <h3>{{event_name}}</h3>
        </div>
    </div>
    <div class="card-body">
        <div>
        <p id="loc">{{event_city}}, {{event_state}}</p>
        </div>
        <p>{{event_description}}</p>
    </div>
    </a>
    <div id='fade'></div>
    <div id='info'>
        <p id="time">POSTED AT: {{event_time}} </p>
    </div>
</div>