    <header id="header">
        <div id="nav">
            <div id="header-left"></div>
            <div id="logo">
                <h1>CIRCLE</h1>
                <h3>COMMUNITY BULLETIN</h3>
            </div>
            <div id="header-right">
                <p>Welcome {{username}} &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/login">login</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/signup">signup</a></p>
            </div>
        </div>


    </header>
    <main>
        {{> sortbar}}
        <div id="container">

<h1>{{name}}</h1>
<br>
    {{#each cards}}
        <p><a href="/cards/{{id}}">{{event_name}}</a></p>
        <br>
        <p>{{event_description}}</p>
        <br>
        <p>{{event_time}}</p>
    {{/each}}

