    <header id="header">
        <div id="nav">
            <div id="header-left"></div>
            <div id="logo">
                <h1>CIRCLE</h1>
                <h3>COMMUNITY BULLETIN</h3>
            </div>
            <div id="header-right">
                <p>Welcome {{username}} &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/login">login</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/signup">signup</a></p>
            </div>
        </div>


    </header>
    <main>
        <div id="container">

    <div class="card">
        <a href="/cards/{{id}}"><h3>{{event_name}}</h3></a>
        <p>{{event_description}}</p>
        <h6>{{event_date}}</h6>
        <h6>{{event_time}}</h6>
        <h6>{{user.username}}</h6>
        {{#each comments}}
        <p>{{content}}</p>
        {{/each}}
        <form id="newCommentForm">
            <textarea id="newComment" placeholder="Add a Comment" data-id={{id}}></textarea>
            <button>Add Comment</button>
        </form>
        <button class="entryDelBtn" data-id={{id}}>Delete</button>
    </div>

            </div>
    </main>

<script src="/js/newComment.js"></script>